name: build-site

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a job called "build-deploy"
  build-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Beginning Build Pipeline

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10.4'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install obsidianhtml
          echo python and dependencies installed

      - name: Build Site
        run: obsidianhtml convert -i config.yaml

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
        #  publish_dir: ./output/html
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
